@model IEnumerable<PrisonerShort>

@{
    ViewData["Title"] = "Пользователи";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    tbody tr {
        cursor: pointer;
    }
    tbody tr:hover {
        background: lightgray;
    }
</style>
<h1>Заключенные</h1>

<p>
    <a asp-action="Create">Добавить заключенного</a>
</p>
<div class="row">
    @using (Html.BeginForm("Get", "Prisoner", FormMethod.Get, new {@class = "col-md-12 d-flex"}))
    {
        <input class="form-control col-md-3 m-1" value="" name="searchStr" type="text" id="searchStrInput"/>
        <input class="btn-primary col-md-2 m-1" type="submit" id="searchButton" value="Поиск"/>
    }
</div>
<table class="table">
    <thead>
    <tr>
        <th>
            Имя
        </th>
        <th>
            Отчество
        </th>
        <th>
            Фамилия
        </th>
        <th>
            Дата заключения
        </th>
        <th>
            Дата освобождения
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr onclick="displayPrisonerInfo(@item.Id)">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @{
                    var arrestDate = item.ArrestDate.ToShortDateString();
                    @Html.DisplayFor(modelItem => arrestDate)
                }
            </td>
            <td>
                @{
                    var releaseDate = item.ReleaseDate.ToShortDateString();
                    @Html.DisplayFor(modelItem => releaseDate);
                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>
<div id="modal-container"></div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript">
/*
    $("#searchButton").click(function () {
        let searchStr = $("#searchStrInput").val();
        console.log(searchStr);
        
        
        $.ajax({
            url: '@Url.Action("Get")',
            type: 'GET',
            dataType: 'JSON',
            data: {searchStr: searchStr},
            success: () => {}
        });
    });*/
    function displayPrisonerInfo(id) {
        $("#modal-container").load('@Url.Action("DisplayPrisonerInfo", "Prisoner")?id='+id);
    }
</script>
